/* 廠商還有第二階段未交付，因此有修改的先放在此檔案，避免衝突 */
.nav-item.social-link{
    display: flex;
    gap: 1rem;
    padding: 10px 15px;
    gap: 1.5rem;
    
}

.nav-item.social-link .facebook.nav-icon-link:hover{
    color: var(--blue) !important;
}

.nav-item.social-link .line.nav-icon-link:hover{
    color:var(--teal) !important;
}

.footer-zone .copyrights-zone{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 48% 1% 48%;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
}

.footer-zone .copyrights-zone .rights{
    justify-self: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-zone .copyrights-zone .dash{
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-zone .copyrights-zone .terms{
    justify-self: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-zone .copyrights-zone .reCAPTCHA{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*案例分享*/
.case-sharing .list-zone{
    padding: 6rem 0;
}

.case-sharing .list-zone .card a{
    padding: 2rem 0 0 0;
}

.health-education-single .post-content p{
    margin-bottom: 0;
    padding-bottom: .75rem;
}



.case-sharing-single .list-zone,
.health-education-single .list-zone{
    padding: 1.5rem;
    padding-left: 2rem;
}


.case-sharing-single .container .inner-list-zone .item .dot,
.health-education-single .container .inner-list-zone .item .dot{
    border: 1px solid #555555;
    background: 0;
}
.case-sharing-single .container .inner-list-zone,
.health-education-single .container .inner-list-zone{
    padding: 0;
}
.case-sharing-single .container .item,
.health-education-single .container .item{
    display: flex;
    align-items: flex-start;
}

.case-sharing-single .container .item .dot,
.health-education-single .container .item .dot{
    border-radius: 50%;
    background: #555555;
    padding: 4px;
    margin: 8px 8px 0 0;
}
.case-sharing-single .commend-zone,
.health-education-single .commend-zone{
    width: 100%;
    padding: 1rem 0 2rem 0;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.case-sharing-single .form-link,
.health-education-single .form-link{
   height: 44px;
   display: flex;
   align-items: center;
}

.case-sharing-single .form-link .contact-form,
.health-education-single .form-link .contact-form{
    background: #007F68;
    color: #fff;
    border: 0;
    width: auto;
}
.case-sharing-single .commend-zone .commend-container.column-2,
.case-sharing-single .commend-zone .commend-container.column-3,
.health-education-single .commend-zone .commend-container.column-2,
.health-education-single .commend-zone .commend-container.column-3{
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: calc(10 * 1rem) 1fr;
    
    row-gap: .5rem;
    padding: 1.5rem 1.5rem .75rem 1.5rem;
    /* border: 1px solid #57BC39; */
    border-radius: .5rem;
}
.commend-container.column-2 .title,
.commend-container.column-2 .content,
.commend-container.column-3 .title,
.commend-container.column-3 .content{
    border-bottom: 1px solid #b5d0ad;
    padding-right: 1.75rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.line-bottom{
    border-bottom: 1px solid #49bf25;;
}
.case-sharing-single .commend-zone .commend-container.column-3,
.health-education-single .commend-zone .commend-container.column-3{
    grid-template-columns: .5fr .75fr 1fr;
}

.case-sharing-single .img-content-zone,
.health-education-single .img-content-zone{
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.health-education-single .misconception-zone{
    padding: 1.5rem;
    
    
}
.health-education-single .misconception-zone .misconception-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.health-education-single .misconception-zone .misconception-container .item{
    gap: .25rem;
}
.health-education-single .misconception-zone .misconception-container .icon-control{
    font-size: 2rem;
    color: red;
    margin-top: -.9rem;
}

.mw-100{
    max-width: 100%;
}
.flex-100{
    flex: 0 0 100%;
}
.link-to-youdonApp-btn{
    display: block;
    width: 100px !important;
    height: auto !important;
}
.link-to-youdonApp-btn img{
    width: 100%;
    height: auto;
}
@media (max-width: 1200px){
    .header-top-bar .container{
        max-width: 100%;
        padding-left: 1rem !important;
    }
    .header-top-bar .nav-link .contact-form{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}
@media (max-width: 991px){
    .nav-item.social-link{
        margin-top: 20px;
        padding: 15px 40px;
        position: relative;
    }
    .nav-item.social-link::before{
        position: absolute;
        content: "";
        top: 0;
        left: 35px;
        height: 0;
        width: calc(100% - 70px);
        border-top: 1px solid var(--green);
    }
    .nav-item.social-link .nav-icon-link .text-size-20 {
        font-size: 24px;
    }
    .header-top-bar .nav-link .contact-form{
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
    .header-top-bar .container{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}
@media (max-width: 768px){
    .footer-zone .copyrights-zone{
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-zone .copyrights-zone .dash{
        display: none;
    }
    .link-to-youdonApp-btn{
        display: block;
        width: 160px !important;
        height: auto !important;
    }
}

@media (max-width: 400px){
    .case-sharing-single .img-container,
    .health-education-single .img-container,
    .case-sharing-single .img-container .img-control,
    .health-education-single .img-container .img-control{
        width: 100%;
        height: auto;
    }
}

