/* 廠商還有第二階段未交付，因此有修改的線放在此檔案
避免賦覆蓋衝突 */
.nav-item.social-link{
    display: flex;
    gap: 1rem;
    padding: 10px 15px;
    gap: 1.5rem;
    
}

.nav-item.social-link .facebook.nav-icon-link:hover{
    color: var(--blue) !important;
}

.nav-item.social-link .line.nav-icon-link:hover{
    color:var(--teal) !important;
}

.footer-zone .copyrights-zone{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 48% 1% 48%;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
}

.footer-zone .copyrights-zone .rights{
    justify-self: right;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-zone .copyrights-zone .dash{
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-zone .copyrights-zone .terms{
    justify-self: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer-zone .copyrights-zone .reCAPTCHA{
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


@media (max-width: 991px){
    .nav-item.social-link{
        margin-top: 20px;
        padding: 15px 40px;
        position: relative;
    }
    .nav-item.social-link::before{
        position: absolute;
        content: "";
        top: 0;
        left: 35px;
        height: 0;
        width: calc(100% - 70px);
        border-top: 1px solid var(--green);
    }
    .nav-item.social-link .nav-icon-link .text-size-20 {
        font-size: 24px;
    }
}
@media (max-width: 768px){
    .footer-zone .copyrights-zone{
        padding-bottom: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-zone .copyrights-zone .dash{
        display: none;
    }
}